h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 67px;
  color: #28004C;
}

h1.sub {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #28004C;
  margin-top: 1.25rem;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #28004C;
  margin-bottom: 20px;
}

p.caption {
  font-size: 14px;
  color: #28004C;
  margin-bottom: 20px;
}

p.text {
  font-size: 16px;
  line-height: 19px;
  color: #6D6178;
}

a.more {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FF7300;
}